section{
	width:100%;
  	height: 720px;
}
.leftHobbies{
	float:left;
	width:50%;
	box-sizing:border-box;
  	text-align: center;
  	height: 700px;
	position: relative;
}

.rightHobbies{
	font-family: "Montserrat Regular";
	background-image: url("images/background/oblik8.png");
<<<<<<< HEAD
	/*background-size:88%;*/
=======
>>>>>>> origin/main
	background-position: center;
	background-color: #EFE9F4;
	color: white;
	float:right;
	width:50%;
	box-sizing:border-box;
    text-align: center;
    height: 700px;
	position: relative;
}

.hobbie{
	position: absolute;
	font-family: "Montserrat Bold";
	top: 28%; /*kolko je od gornjeg ruba*/
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
}

.hobbies{
	position: absolute;
	top: 50%; /*kolko je od gornjeg ruba*/
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: left;
	font-size: 14px;
}

#profilePic1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.test{
  background-color: aquamarine;
}


/*slideshow*/


* {box-sizing: border-box}
body {font-family: "Montserrat Regular"}

.KarloSlides, .MatejSlides {
  display: none;
  cursor: pointer;
  transition: 0.3s;
}

.smallImg:hover, .smallImgKarlo:hover{
  opacity: 0.8;
}

img {vertical-align: middle;}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: left;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  animation: fade forwards;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/*modal za slideshow*/


#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.8;}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 90%;
  max-width: 1000px;
}

.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content, .caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@font-face {
	font-family: "Montserrat Regular";
	src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Montserrat Bold";
	src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

section{
	width:100%;
    height: 500px;
}

.left{
	background-image: url("images/background/oblik5.png");
	/*background-size: 62%;*/
    background-color:#EFE9F4;
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:5px;
    text-align: center;
    height: 600px;

	position: relative;
}


.leftVideo1{
	background-image: url("images/background/oblik10.png");
	/*background-size: 62%;*/
	background-position: center;
    background-color:#EFE9F4;
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:5px;
    text-align: center;
    height: 500px;


	position: relative;
}

.right{
	background-image: url("images/background/oblik7.png");
	background-size:100%;
	background-position: center;
    background-color: #EFE9F4;
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:5px;
    text-align: center;
    height: 600px;

	position: relative;
}

.rightAudio1{
    background-image: url("images/background/oblik8.png");
	background-size: 62%;
    background-color:#EFE9F4;
	float:left;
	width:50%;
	box-sizing:border-box;
	padding:5px;
    text-align: center;
    height: 500px;

	position: relative;
}

.video{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.audio{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

#section2{
    background-color: bisque;
}

#name{
	position: absolute;
	top: 20%; /*kolko je od gornjeg ruba*/
	left: 50%;
	transform: translate(-50%, -50%);

	font-family: "Montserrat Bold";
	/*color: #523328;*/
	color: #ffffff;
}


.about{
	position: absolute;
	top: 55%; /*kolko je od gornjeg ruba*/
	left: 50%;
	transform: translate(-50%, -50%);

	font-family: "Montserrat Regular";
	font-size: 17px;
	text-align: left;
	color: #ffffff;
}

#profilePic1{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: 3px solid #EFE9F4;
	cursor: pointer;
	transition: 0.4s;
}

#KarloPic:hover{
	filter: brightness(120%);
}

#KarloPic{
	height: 300px;
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	border: 3px solid #EFE9F4;

	cursor: pointer;
	transition: 0.4s;
}

#profilePic1:hover{
	filter: brightness(120%);
}

a.links{
	font-family: "Montserrat Bold";
	color: #ffffff;
	text-decoration: none;
}
a.links:hover{
	opacity: 0.7;
	transition: 0.5s;
}
a.linksFooter{
	font-family: "Montserrat Bold";
	color: #000000;
	text-decoration: none;
}
a.linksFooter:hover{
	opacity: 0.7;
	transition: 0.5s;
}

footer{
	background:#EFE9F4;
	text-align: center;	
}
